body {
  background-color: #e2c391;
  font-family: sans-serif;
}
section {
  font-size: 50px;
  font-weight: bold;
}
#startbutton {
  padding: 5px;
  height: 50px;
  width: 100px;
  background-color: #aac0aa;
  font-family: sans-serif;
  padding: 5px;
  border-radius: 5px;
  margin-left: 20%;
}
#startbutton:hover {
  cursor: pointer;
}
.header {
  position: relative;
  text-align: center;
  display: inline-block;
  left: 40vw;
  top: 150px;
  max-width: 300px;
}
#desc {
  font-size: 20px;
}
#timer {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 15px;
}
.highscore {
  position: absolute;
  top: 0;
  left: 10px;
  margin: 10px;
  border: none;
  background: none;
}
.highscore:hover {
  cursor: pointer;
}
#q1 {
  position: relative;
  text-align: center;
  display: none;
  top: 200px;
}
#head {
  display: inline;
}

.answer-btn {
  display: inline;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  border-style: none;
}
.chbtn {
  width: 200px;
  height: 200px;
  margin: 5px;
  border-style: none;
  position: relative;
  top: 200%;
  border-radius: 5px;
  padding: 7px;
  font-size: 20px;
  background-color: #5f5aa2;
}
.chbtn:hover {
  cursor: pointer;
}
img {
  max-width: 200px;
  max-height: 200px;
  border: 3px groove #448fa3;
  border-radius: 10px;
}
.hsbutton {
  height: 50px;
  width: 408px;
  right: 10%;
  position: relative;
  background-color: #aac0aa;
  font-family: sans-serif;
  border-radius: 5px;
}
.hsinput {
  height: 100px;
  width: 400px;
  position: relative;
  right: 10%;
  font-size: 30px;
  font-family: sans-serif;
  border-radius: 5px;
  text-align: center;
}
#hslist {
  position: absolute;
  display: block;
  left: 40%;
  top: 30%;
  font-size: 25px;
  font-family: sans-serif;
  list-style: none;
}
.liclass {
  list-style: none;
}
